.App {
  text-align: center;
}

h3, h2, p {
  color: black;
  background-color: white;
}

.Sara-pic {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Sara-pic {
    animation: Sara-pic-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #C1F9D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  background-color: #C1F9D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
}

.Item {
    margin-top: 0;
}

@keyframes Sara-pic-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
